.aboutTitleContainer {
  background-color: #222;
}
.aboutTitle {
  color: #fff;
}
.aboutSection {
  background-color: #fff;
}

.profilesTitle {
  margin-bottom: 4rem;
  color: #fff;
}
.profilesSection {
  background-color: #007155;
  padding-left: 6rem;
  padding-right: 6rem;
}

.sponsorsSection {
  background-color: #fff;
}
.sponsorsTitle {
  margin-top: 4rem;
}
.sponsorsContainer {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  width: 70%;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.24),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.36);
}
