.seasonsTitleContainer {
  background-color: #222;
}
.seasonsTitle {
  color: #fff;
}
.seasons {
}

.joinTitleContainer {
  background-color: #222;
}
.joinTitle {
  color: #fff;
}
.join {
}

.infoTitleContainer {
  background-color: #222;
}
.infoTitle {
  color: #fff;
}
.info {
}
