.titleContainer {
  min-height: 2rem;
  padding: 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section {
  position: relative;
  padding: 6rem 4rem 6rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sectionTitle {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 1rem;
}
.textContainer {
  width: 60%;
  margin: 4rem 0 4rem 0;
}
.textContainer p,
li {
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.textContainer p {
  margin-bottom: 1rem;
}

.textContainer li {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.headerImage {
  z-index: -1;
  overflow: hidden;
  margin: 0 0 0 0;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerImage h1 {
  color: #fff;
  font-size: 5rem;
}
