.heroNav {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.heroNav > .navLogoContainer {
  transform: scaleY(0);
}

.topNav {
  position: relative;
  background-color: #111;
}

.stickyNav {
  position: fixed;
  top: 0px;
  bottom: auto;
  background-color: #111;
}

.hidden {
  visibility: hidden;
}

.navContainer {
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 3rem 0.75rem 3rem;
  transition: background-color 0.3s ease-in-out;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 1 auto;
}

.navLink {
  margin: 0 1rem 0 1rem;
  text-decoration: none;
  color: #fff;
  border: 0.2rem solid rgba(0, 0, 0, 0);
}

.navLink:after {
  background-color: #fff;
}

.navLink > h4 {
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  margin: 0;
  font-size: 1.2rem;
  font-family: "Josefin Slab";
  font-weight: 700;
}

.navLinkActive {
  border-color: #fff;
}

.navLinkActive:after {
  height: 0px;
  min-height: 0px;
}

.navLogoContainer {
  min-width: fit-content;
  flex: 1 0 auto;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  color: #fff;
}

.navLogoLink {
  color: #fff;
}

.navLogoLink::after {
  display: none;
  height: 0;
}

.navLogo {
  font-family: "Josefin Slab";
  font-weight: 700;
  font-size: 1.7rem;
  margin: 0rem;
  color: #fff;
}
