.container {
  padding: 5rem 0 5rem 0;
  display: flex;
  justify-content: flex-start;
}

.containerLeft {
  flex-direction: row;
  align-self: flex-start;
}

.containerRight {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.image {
  flex: 1 0 auto;
  width: 50vw;
  height: fit-content;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.12),
    0 0.1rem 0.2rem rgba(0, 0, 0, 0.24);
}

.textContainer {
  align-self: flex-start;
  margin: 0rem 4rem 0rem 4rem;
  flex: 1 1 auto;
  max-width: 30rem;
}

.textContainer > h1 {
  font-size: 2.5rem;
}

.textContainer > p {
  font-size: 1.3rem;
  line-height: 1.7rem;
}
